/**
HTML Design Markup Main CSS
Please do not include designs for special pages and campaign pages
**/


body {
  background-color: #f3f3f3;
}


/* header.php */

section.header {
  position: fixed;
  width: 100%;
}




/* console-toolbar */

section.console-toolbar {
  width: 100%;
}

section.console-toolbar div.toolbar {
  background-color: #072d4e;
  clear: both;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 60px;
  left:0;
}

section.console-toolbar div.toolbar-wrap {
  padding: 0 132.56px 0 30px;
}

section.console-toolbar div.toolbar a.back-to-menu {
  color: white;
  float: left;
  text-decoration: none;
  padding: 10px 0;
}

section.console-toolbar div.toolbar a.back-to-menu:hover {
  text-decoration: underline;
}

section.console-toolbar div.toolbar h1 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 19px;
}


div.slide-image {
    margin: auto;
    max-width:  980px;
    left:0;
    right:0;
    display: block;
}

section.console {
    top: 50px;
    bottom: 0;
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
}

.slick-prev, .slick-next {
    background-color: #0e2165 !important;
    border-radius: 10px !important;
    width: 50px !important;
    height: 50px !important;
    margin: 0 -40px !important;
}

/* å‹•ç”»ãªã© iframeå¯¾å¿œ */

section.console .single-video {
position: relative;
width: 100%;
height: 551.297px;
}
section.console iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}
